.c-flex,
.flex{
 display: flex;
}

.c-flex{
 flex-direction: column;
}

.header_wrapper{
 position: relative;
  height: 7rem;
  width: 100%;
  background-color: white;
}



.header_1_wrapper{
 position: relative;
 height: 2.5rem;
 background-color: #f5f6f6;
}

.header_1_inner_wrapper{
 background-color: #eee;
 background-color: inherit;
 height: 2.5rem;
 width: 100%;
 position: fixed;
 top: 0;
 /* background-color: pink; */
}


.header_2_wrapper{
 background-color: red;
 height:  4.5rem;
 width: 100%;
 z-index: 100;
 top: 0;

}
.header_2_inner_wrapper flex{
 background-color: yellow;
 height:  4.5rem;
 width: 100%;
 display: block;
 position: -webkit-sticky; 
 position: sticky;
 top: 0;
}
