.c-flex,
.flex{
 display: flex;
}

.c-flex{
 flex-direction: column;
}

.header_wrapper{
 position: relative;
  height: 8rem;
  width: 100%;
  background-color: white;
}



.header_1_wrapper{
 position: relative;
 height: 3rem;
  /* border: 1px solid gray;
  height: 3rem;
  width: 100%;
  position: relative;
  top: 0;
  background-color: pink;
  clear: both; */
}

.header_1_inner_wrapper{
 border: 1px solid gray;
 height: 3rem;
 width: 100%;
 position: fixed;
 top: 0;
 /* background-color: pink; */
 clear: both;
}

/* .header_1_wrapper::after{
 content: '.';
 display: block;
 height: 3rem;
 clear: both;
 background-color: green;
 visibility: hidden;
} */

.header_2_wrapper{
 /* background-color: red; */
 height:  5rem;
 width: 100%;
 position: -webkit-sticky; 
 position: sticky;
 z-index: 100;
 top: 0;

}

