@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,100&family=Ubuntu:wght@300&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Roboto:ital,wght@0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root {
 --main-bg-color: #0a273d;
 --context-btn-color: #d13d42;
 --gray-text-color: #b3bdc4;
}

/* reset settings for all browser */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

body {
  font-family:  Roboto, Lato, Montserrat, sans-serif;
  min-width: 32rem;
  font-size: 1.6rem;
  background-color: var(--main-bg-color);
  color: white;
  position: relative;
}

.flex,
.c-flex {
  display: flex;             /* NEW, Spec - Opera 12.1, Firefox 20+ */
 }

.c-flex{
  flex-direction: column;
}

main{
  padding: 2rem 1rem;;
}

 h1 {
  font-size: 1.2rem;
  font-family: Roboto;
  color: var(--gray-text-color);
  font-weight: 500;
  line-height: 20px;
 }

 .presentation{
  height: 80vh;
  background-color: var(--main-bg-color);
 }

 .features{
  flex-direction: column;
  align-items: center;
  height: 100%;
 }

 .features_text {
  border: 2px solid rebeccapurple;
  width: 100%;
  min-height: 45%;
  order: 1;
 }

 .features_img{
  border: 2px solid rebeccapurple;
  width: 100%;
  order: 0;
  min-height: 45%;
 }

 @media screen and (min-width: 768px) {

    .features{
      flex-direction: row;
      justify-content: space-evenly;
      align-content: center;
    }

     .features_text {
      border: 2px solid rebeccapurple;
      width: 40%;
      height: 80%;
      order: 0;
     }

     .features_img{
      border: 2px solid rebeccapurple;
      position: relative;
      width: 55%;
      height: 80%;
      order: 1;
     }


     .app_photo{
       width: 60%;
       box-shadow: 0 1.5rem 4rem rgba(var(--gray-text-color), 0.5);
       border-radius: 2px;
       position: absolute;
     }
   
     .left {
      top: 0;
      left: 0;
     }

     .right{
      top: 0;
      right: 0;
     }

     .center {
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      z-index: 2;
     }

     .b-left{
      bottom: 0;
      left: 0;
     }


     .b-right{
      bottom: 0;
      right: 0;
     }
 }